html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:479px) {}

@media screen and (min-width:480px) and (max-width:639px) {}

@media screen and (min-width:640px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-auto-rows: minmax(58px, auto);
        grid-gap: 0px;
        max-width: 98%;
        margin: 0 auto;
        /* grid-template-areas:
        "header header header" 
        "topNav topNav topNav"
        "lastUpdate star search"
        "leftNav main reklama"
        "footer footer footer" */
    }
    .container>* {
        border: 1px solid #e5e5e5;
        font-family: Arial, Helvetica, sans-serif;
    }
    header {
        color: red;
        text-transform: uppercase;
        font-weight: 900;
        padding: 30px;
        background-color: #fff;
        border: 0 !important;
        letter-spacing: -3px;
        grid-column: 1 / -1;
    }
    .topNav {
        height: 58px;
        grid-column: 1 / -1;
    }
    .topNav ul {
        list-style: none;
    }
    .topNav a {
        text-decoration: none;
        padding: 20px;
        text-transform: uppercase;
        border-right: 1px solid #e5e5e5;
        float: left;
        font-size: 14px;
        font-weight: 700;
        color: #000;
    }
    .topNav a:hover {
        color: red;
    }
    .lastUpdate {
        font-size: 11px;
        padding-left: 14px;
        line-height: 58px;
    }
    .star {
        color: red;
        text-transform: uppercase;
        font-size: 15pt;
        font-weight: 500;
        text-align: center;
        line-height: 58px;
    }
     input {
        height: 58px;
        border: 0;
        padding: 20px;
    }
    .leftNav {
        background-color: black;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        padding-top: 20px;
    }
    .black {
        padding: 20px;
    }
    .leftNav li {
        color: #e5e5e5;
        text-align: left;
        width: 200px;
        padding: 15px 0;
        list-style-type: none;
        text-transform: none;
        border-bottom: 1px solid #e5e5e5;
    }
    .leftNav a {
        color: gray;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
    }
    .leftNav a:hover {
        color: red;
        text-decoration: none;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: minmax(350px, 350px);
    }
    .mtavari {
        grid-row: 1 / 3;
        border: 1px solid #e5e5e5;
        padding: 25px;
        position: relative;
    }
    .mtavari a {
        text-decoration: none;
        color: #000;
        margin: 30px 0;
        display: block;
        font-size: 36px;
        font-weight: 400;
    }
    .mtavari a:hover {
        color: red;
    }
    .mtavari p {
        font-size: 18px;
        color: #8e8e8e;
    }
    .bottom {
        width: 100%;
        background-color: #f9fafb;
        position: absolute;
        border-top: 1px solid #e5e5e5;
        bottom: 0;
        left: 0;
        height: 60px;
        line-height: 60px;
        padding: 0 80px;
        text-align: center;
    }
    .meore {
        border-bottom: 1px solid #e5e5e5;
    }
    .meore a {
        display: block;
        padding: 15px;
        margin: 0 auto;
        text-decoration: none;
        color: black;
    }
    .meore a:hover {
        color: red;
    }
    .meore img {
        margin: 15px;
        height: 118px;
        width: 200px;
    }
    .readMore {
        display: grid;
        grid-template-columns: 3fr 1fr;
        border: 1px solid #e5e5e5;
        text-align: center;
        width: 160px;
        margin: 46px 0 0 15px;
    }
    .text {
        border-right: 1px solid #e5e5e5;
        color: grey;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 38px;
    }
    .text:hover {
        color: red;
    }
    .icon {
        opacity: .3;
        line-height: 38px;
    }
    .reklama {
        grid-area: reklama;
    }
    .bottomLeftRandom {
        background-color: #fff;
        padding: 20px;
        color: red;
        text-align: left;
    }
    .random {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 15px;
        text-transform: none;
        padding: 10px 0;
    }
    .bottomLeftRandom p {
        border-top: 1px solid red;
        padding: 15px 0;
    }
    .random {
        border-bottom: 1px solid #e5e5e5;
    }
    
    #moreRandom {
        margin: 20px 0;
        border: 1px solid #e5e5e5;
        padding: 5px;
        text-align: center;
    }
    #moreRandom a {
        font-size: 12px;
    }
    /* .random > * {
        display: inline-block;
        float: right;
    } */
    .otherAnecdotes {
        grid-area: otherAnecdotes;
    }
    .otherAnecdotes {
        grid-area: otherAnecdotes;
    }
    .fromAroundWeb {
        grid-area: fromAroundWeb;
    }
    footer {
        grid-area: footer;
    }
}