html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
}

nav {
    border: 1px solid #e5e5e5;
    width: 98%;
    margin: 0 auto 0 auto;
}

.mobileDiv {
    border: 1px solid #e5e5e5;
    text-align: right;
    padding: 10px;
    width: 100%;
    border-bottom: 0;
    border-top: 0;
}

.search {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    height: 40px;
    font-size: 15px;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}

input {
    padding: 12px;
    border: 0;
}

.nightStar {
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-weight: 100;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    margin: 10px auto 0 auto;
    width: 100%;
}

main {
    width: 98%;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 15px;
}

article {
    border: 1px solid #e5e5e5;
    padding: 30px;
}

article img {
    max-width: 100%;
    min-width: 98%;
}

.readMore {
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 150px;
    text-align: center;
    align-items: center;
    height: 50px;
    margin: 20px;
}
 
.commentIcon{
    border-left: 1px solid #e5e5e5;

}

@media screen and (min-width:481px) and (max-width:640px) {
    h1 {
        text-align: left;
    }
}

@media screen and (min-width:641px) and (max-width:840px) {
    h1 {
        text-align: left;
    }
}

@media screen and (min-width:841px) {
    h1 {
        text-align: left;
    }
}

@media screen and (min-width:1100px) {
    h1 {
        text-align: left;
    }
}