body {
    margin: 0;
    padding: 10px;
}

header {
    width: 99.7%;
    height: 150px;
    border: 2px solid black;
    border-bottom: 0;
}

header div {
    width: 75%;
    float: right;
    height: 150px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

main {
    width: 99.7%;
    height: 200px;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

main div {
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 49.9%;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
}

footer {
    width: 99.7%;
    height: 100px;
    border: 2px solid black;
    clear: both;
}